parameters:
	ignoreErrors:
		-
			message: '#^Property WP_Post\:\:\$post_modified_gmt \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Groups/TsmlGroupFactory.php

		-
			message: '#^Property WP_Post\:\:\$post_title \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Groups/TsmlGroupFactory.php

		-
			message: '#^Variable \$context in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Groups/TsmlGroupFactory.php

		-
			message: '#^Used function update_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Groups/TsmlGroupRepository.php

		-
			message: '#^Property WP_Post\:\:\$post_modified_gmt \(string\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/IntergroupMeetings/TsmlIntergroupMeetingFactory.php

		-
			message: '#^Used function get_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/IntergroupMeetings/TsmlIntergroupMeetingFactory.php

		-
			message: '#^Used function update_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/IntergroupMeetings/TsmlIntergroupMeetingRepository.php

		-
			message: '#^Property WP_Post\:\:\$post_modified_gmt \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Locations/TsmlLocationFactory.php

		-
			message: '#^Property WP_Post\:\:\$post_title \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Locations/TsmlLocationFactory.php

		-
			message: '#^Variable \$context in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Locations/TsmlLocationFactory.php

		-
			message: '#^Variable \$context in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Meetings/TsmlMeetingFactory.php

		-
			message: '#^Property TsmlForUnity\\Meetings\\TsmlMeetingViewFactory\:\:\$groupRepository is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Meetings/TsmlMeetingViewFactory.php

		-
			message: '#^Property TsmlForUnity\\Meetings\\TsmlMeetingViewFactory\:\:\$meetingRepository is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Meetings/TsmlMeetingViewFactory.php

		-
			message: '#^Property TsmlForUnity\\Meetings\\TsmlMeetingViewFactory\:\:\$memberRepository is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Meetings/TsmlMeetingViewFactory.php

		-
			message: '#^Property WP_Post\:\:\$post_type \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Members/TsmlMemberChangeTracker.php

		-
			message: '#^Property WP_Post\:\:\$post_modified_gmt \(string\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/Members/TsmlMemberFactory.php

		-
			message: '#^Used function get_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Members/TsmlMemberFactory.php

		-
			message: '#^Used function update_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Members/TsmlMemberRepository.php

		-
			message: '#^Property WP_Post\:\:\$post_modified_gmt \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Positions/TsmlPositionFactory.php

		-
			message: '#^Used function get_fields not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Positions/TsmlPositionFactory.php

		-
			message: '#^Used function update_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Positions/TsmlPositionRepository.php

		-
			message: '#^Property WP_Post\:\:\$post_modified_gmt \(string\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/PrivacyPolicies/TsmlPrivacyPolicyFactory.php

		-
			message: '#^Property WP_Post\:\:\$post_title \(string\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/PrivacyPolicies/TsmlPrivacyPolicyFactory.php

		-
			message: '#^Used function get_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/PrivacyPolicies/TsmlPrivacyPolicyFactory.php

		-
			message: '#^Used function update_field not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/PrivacyPolicies/TsmlPrivacyPolicyRepository.php
